h1{
    font-family: 'Segoe UI';
    color: lightcoral;
}

ul{
    overflow: hidden;
    background-color: lightcyan;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 600px;
}

li{
    float: left;
}

li a{
    color: coral;
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: cadetblue;
}

img{
    height: 150px;
    width: 600px;
}